:root {
    --red: rgb(165, 10, 10);
    --white: rgb(249, 249, 249);
    --off-white: rgb(239, 243, 247);
    --pale-blue: rgb(201, 215, 233);
    --baby-blue: rgb(136, 168, 228);
    --dark-blue: rgb(37, 55, 92);
    --gap: 10px;
}

#root {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

/* Styles the form fields */
form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background: var(--off-white);
    border: 1px solid rgb(142, 161, 180);
    border-radius: 10px;
    padding: 1rem;
    margin: var(--gap) 0;
}

label {
    text-align: start;
}

legend,
.first > label,
.last > label,
.start > label,
.end > label {
    margin: 5px 0;
}

fieldset {
    display: flex;
    padding: 0;
    border: none;
    gap: var(--gap);
    width: 100%;
}

fieldset input {
    width: 100%;
}

input:focus {
    outline: 2px solid var(--baby-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 1px;
    padding: 2px;
}

input:invalid {
    border: 1px solid var(--red);
    border-radius: 1px;
    padding: 2px;
}

input:invalid:focus {
    outline: 2px solid var(--hover-pink);
}

button {
    margin-top: var(--gap);
}

.requiredAsterisk {
    color: var(--red);
}

.formHelp {
    text-align: center;
}

.addField,
.saveInfo {
    background-color: var(--pale-blue);
}

.first,
.last,
.start,
.end,
.skillCategory,
.skillInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formHeading,
.sectionsHeading {
    text-align: center;
    text-decoration: underline;
    margin: 2rem;
}

/* Styles the added additional fields */
.additionalInfoFields,
.jobDuties,
.projectDescriptions {
    flex-direction: column;
}

@media (min-width: 800px) {
    .formsWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        width: 100%;
    }

    fieldset {
        display: flex;
    }

    .sectionsWrapper {
        border: 1px solid var(--blue);
        padding: 1rem calc(1rem + 10px);
    }
}

@media (min-width: 1000px) {
    #root {
        display: grid;
        gap: 2rem;
    }

    .formsContainer {
        grid-column: 1;
    }

    .sectionsContainer {
        grid-column: 2;
    }
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --light-gray: rgb(100, 100, 100);
        --gray: rgb(80, 80, 80);
        --dark-gray: rgb(50, 50, 50);
        --black: rgb(30, 30, 30);
        --light-red: rgb(225, 125, 125);
    }

    form {
        background: var(--dark-gray);
        border: 1px solid var(--light-gray);
    }

    .requiredAsterisk {
        color: var(--light-red);
    }

    input:invalid {
        border: 1px solid var(--light-red);
    }
    
    input:invalid:focus {
        outline: 2px solid var(--hover-pink);
    }

    .saveInfo,
    .addField {
        color: var(--off-white);
        background: var(--gray);
    }

    .saveInfo:hover,
    .saveInfo:focus,
    .addField:hover,
    .addField:focus {
        background: var(--black);
        border: 1px solid var(--off-white); 
    }

    .sectionsWrapper {
        border: 1px solid var(--light-gray);
    }
  }
  