form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    text-align: start;
}

fieldset {
    display: flex;
    padding: 0;
    border: none;
    gap: 5px;
}

#projectDescription {
    width: 100%;
}

/* General Info */
.generalWrapper {
    position: relative;
}

.first,
.last {
    display: flex;
    flex-direction: column;
}

.generalWrapper .editInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 3;
}

/* Education */
.educationEntry {
    position: relative;
}

.additionalInfoFields {
    flex-direction: column;
}

.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 3;
}

/* Experience */
.jobExperience {
    flex-direction: column;
}

.dates {
    display: flex;
    gap: 30px;
}

.start,
.end {
    display: flex;
    flex-direction: column;
}

/* Skills */
.skillsList > li > * {
    padding: 0 5px;
}