form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    text-align: start;
}

fieldset {
    display: flex;
    padding: 0;
    border: none;
    gap: 10px;
}

.first,
.last,
.start,
.end {
    display: flex;
    flex-direction: column;
}

.skillCategory,
.skillInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Styles the added additional fields */
.additionalInfoFields,
.jobDuties,
.projectDescriptions {
    flex-direction: column;
}

/* Displayed entries for generated CV */
.educationDetails,
.jobDetails,
.projectDetails {
    display: flex;
    justify-content: space-between;
}

.skillsDetails {
    display: flex;
    gap: 1rem;
}

/* Allow buttons to overlay in each entry */
.generalWrapper,
.educationEntry,
.jobEntry,
.projectEntry,
.skillsEntry {
    position: relative;
}

.generalWrapper .editInfo,
.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 3;
}

.editInfo:hover {
    background:rgb(198, 219, 250);
    border: 1px solid rgb(19, 92, 201);
    text-transform: uppercase;
}

.deleteInfo:hover {
    background: rgb(248, 193, 193);
    border: 1px solid rgb(255, 71, 71);
    text-transform: uppercase;
}