/* Styles the generated CV */
.educationDivider,
.experienceDivider,
.projectsDivider,
.skillsDivider {
    font-size: 1.2rem;
    margin: 0;
}

section {
    margin: 10px 0;
}

p,
ul {
    margin: 5px 0;
}

.generalInfo > * {
    text-align: center;
}

.generalInfo > h2 {
    margin-bottom: 0;
}

/* Displayed entries for generated CV */
.educationDetails,
.jobDetails,
.projectDetails {
    display: flex;
    justify-content: space-between;
}

.skillsDetails {
    display: flex;
    gap: 1rem;
}

/* Allow buttons to overlay in each entry */
.generalWrapper,
.educationEntry,
.jobEntry,
.projectEntry,
.skillsEntry {
    position: relative;
}

.generalWrapper .editInfo,
.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 3;
}

.editInfo:hover {
    background:rgb(198, 219, 250);
    border: 1px solid rgb(19, 92, 201);
    text-transform: uppercase;
}

.deleteInfo:hover {
    background: rgb(248, 193, 193);
    border: 1px solid rgb(255, 71, 71);
    text-transform: uppercase;
}

.skillsEntry .editInfo,
.skillsEntry .deleteInfo {
    padding: 0.3rem 1.2rem;
}