:root {
    --hover-pink: rgb(248, 193, 193);
    --hover-blue: rgb(198, 219, 250);
    --hover-border-blue: rgb(19, 92, 201);
}

/* Styles the generated CV */
.educationDivider,
.experienceDivider,
.projectsDivider,
.skillsDivider {
    font-size: 1.2rem;
    margin: 0;
}

section {
    margin: 10px 0;
}

p,
ul {
    margin: 5px 0;
}

.cvInfo {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.generalInfo > * {
    text-align: center;
}

.generalInfo > h2 {
    margin-bottom: 0;
}

/* Displayed entries for generated CV */
.educationDetails,
.jobDetails,
.projectDetails {
    display: flex;
    justify-content: space-between;
}

.skillsDetails {
    display: flex;
    gap: 1rem;
}

/* Allow buttons to overlay in each entry */
.generalWrapper,
.educationEntry,
.jobEntry,
.projectEntry,
.skillsEntry {
    position: relative;
}

.generalWrapper .editInfo,
.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 3;
}

.editInfo:hover {
    background: var(--hover-blue);
    border: 1px solid var(--hover-border-blue);
    text-transform: uppercase;
}

.deleteInfo:hover {
    background: var(--hover-pink);
    border: 1px solid var(--red);
    text-transform: uppercase;
}

.skillsEntry .editInfo,
.skillsEntry .deleteInfo {
    padding: 0.3rem 1.2rem;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --dark-mode-red: rgb(56, 30, 30);
        --dark-mode-blue: rgb(43, 50, 73);
    }

    .editInfo,
    .deleteInfo {
        color: var(--off-white);
        background: var(--gray);
    }

    .editInfo:hover,
    .editInfo:focus {
        background: var(--dark-gray);
        border: 1px solid var(--off-white); 
    }

    .deleteInfo:hover,
    .deleteInfo:focus {
        background: var(--dark-mode-red);
        border: 1px solid var(--hover-pink);      
    }

}